body {
	background-image: url("./media/img/light_wood.jpg");
	text-align: center;
}

h1 {
	color: #464749;
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 20px;
}

td {
	background: transparent;
	vertical-align: middle;
}

tr {
	text-align: center;
}



/* Class-Specific Styling */
.NavIcon {
	background-color: white;
	height: 50px;
	width: 50px;
	padding: 10px;
	margin: 10px 0px 10px 10px;
	border:	solid #464749;
	border-radius: 100%;
}

.NavIcon[selected=true]{
	border-top-color: lightgreen;
	border-left-color: #464749;
	border-right-color: #464749;
	border-top-width: 0.75em;
}


/* Name-Specific Styling */

a[name=navLink] {
	color: #464749;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
}

div[name=Main] {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 500px;
}

div[name=ActiveUnitBox] {
	border: solid #464749;
	border-radius: 15%;
	height: 60%;
	margin-left: 0px;
	position: fixed;
	width: 60%;
}

div[name=ActiveUnitBox] img {
	border-radius: 15%;
	height: 100%;
	width: 100%;
}

div[name=NavTableBox] {
	position:fixed;
    margin-left:-235px;
    margin-top:175px;
    top:50%;
    left:50%;
}

div[name=NavTableBox] table {
	margin: 0px;
}